.links {text-align:  right;

}

h1 {
    text-align: center;
}

.form {
    float: middle;
}

body {
    background-image: url(../images/paws.png);
    background-size: 400px 400px;
}

/* Logo on Welcome Page */
#content-box {
    background: white;
    margin-top:40px;
    padding: 60px;
}

p .i {
    font-style: italic;
  }